fastapi==0.104.1
python-dotenv==1.0.0
uvicorn[standard]==0.24.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.10
pymysql==1.1.0
pydantic==2.11.7
scikit-learn==1.8.0
numpy==2.3.4
pandas==2.3.3
openpyxl==3.1.5
python-multipart==0.0.6
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
email-validator==2.1.0.post1
google-auth-oauthlib==1.2.0
google-api-python-client==2.108.0
beautifulsoup4==4.12.3
